*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding:20px;
    background-color: linear-gradient(135deg,#a5b1c2 0%,#d1d8e0 100%);
}
.tablo{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:60px;
    max-width: 1200px;
    width:100%;
}
.kart{
    background: linear-gradient(135deg, #0f2027 0%,#203a43 50%,#2c5364 100%);
    padding:50px;
    border-radius: 15px;
    box-shadow: 15px 35px 35px rgba(0,0,0,0.5);
    transition:transform 0.3s ease;
    position: relative;
    overflow:hidden;


}
.kart:hover{
    transform:translatey(-10px);
}
.kart::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:5px;
    background: linear-gradient(45deg, purple, blue)
    

}
.header{
    text-align: center;
    margin-bottom:30px;
}
.isim{
    font-size:24px;
    color:aliceblue;
    margin-bottom:10px;
    font-weight:600;
}
.meslek{
    font-size: 15px;
    font-weight:100;
    color:#2575fc;
    margin-bottom: 15px;
}
.ozellik{
    list-style:none;
    margin-bottom: 40px;
}
.ozellik li{
    padding:12px 0;
    color:#ccc;
    border-bottom:1px solid #666;
    text-align:center;
}
.buton{
    display:flex;
    width:100%;
    justify-content: center;
    padding:15px;
    background:linear-gradient(45deg, #6a11cb,#2575fc);
    color:white;
    text-decoration: none;
    border-radius:25px;
    
}
