*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    font-size:10px;
    font-family:Arial, Helvetica, sans-serif;
}
.container{
    width:840px;
    margin:auto;
    font-size:12px;
}
.navbar-top{
    display:flex;
    justify-content:end;
    align-items: center;
    background-image:url(images/nav_top.jpg);
    height:30px;
    
}
.navbar-top a{
    color:rgb(128, 11, 11);
    padding-left: 10px;
    padding-right: 10px;
}
.header{
    background-image: url(images/header.jpg);
    height:230px;
}
.header h1{
    padding-left:100px;
    padding-top:100px;
    font-style: italic;
    font-size:2rem;
    color:white;
}
.navbar-main{
    background-image: url(images/main_nav.jpg);
    height:56px;
    padding-left: 9px;
}
.menu-list{
    display:flex;
    justify-content:start;
    align-items: center;
    list-style:none;
    height:100%;

}
.menu-list li a{
    text-decoration: none;
	height: 18px;
    padding:18px 18px;
    color:rgb(128, 11, 11);
}
.menu-list li a:hover{
    background-image:url(images/menu_hover.jpg);
    color:white;
	background-repeat: repeat-x;
}

.iletisim{
    background-image:url(images/contentwrapper.jpg);
    background-repeat:repeat-y;
}
.form-alan{
    display:flex;
    flex-direction: column;
    width:160px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 13px;
}
.form-alan h3{
    background-image: url(images/sidebar_heading.jpg);
    background-repeat: no-repeat;
    padding-bottom: 20px;
    color:white;
    text-align: start;
    font-size:11px;
    padding-top:5px;
    padding-left:20px;
    
}
.form p{
    padding-top:5px;
    padding-bottom:5px;
    font-style: italic;

}

 .buton{
    margin-top: 15px;
    margin-left: 88px;
    padding: 2px;
    background-color: #910603;
    cursor: pointer;
    color: #FFFFFF;
 }
 .news-alan{
    background-image: url(images/contentwrapper.jpg);
    background-repeat: repeat-y;
 }
 .contentwrapper{
    width:100%;
    height:1px;
    background-color: rgba(128, 119, 119, 0.141);
    margin-top: 3px;
    margin-bottom: 3px;
 }
 .news{
    display:flex;
    flex-direction: column;
    width:160px;
    padding-top: 5px;
    padding-left: 13px;
    font-size:12px;
 }
 .news h3{
    background-image: url(images/sidebar_heading.jpg);
    background-repeat: no-repeat;
    padding-bottom: 20px;
    color:white;
    text-align: start;
    font-size:11px;
    padding-top:5px;
    padding-left:20px;
 }
 .news dl{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 .news dt::first-letter{
    font-weight: bold;
 }
 .news dt{
    padding-top:15px;
    border-bottom: #291515;
 }
 .konum{
    background-image: url(images/contentwrapper.jpg);
    background-repeat: repeat-y;
    display:flex;
    justify-content: space-between;
  }
  .photo-alan{
 width:160px;
margin-right: 10px;
    
  }
.photo h4{
    background-image: url(images/sidebar_heading_2.jpg);
    background-repeat: no-repeat;
    color:white;
    font-size:11px;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-top:5px;

}
.photo p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.footer{
    background-image: url(images/footer.jpg);
    height:55px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.orta-alan{
    width:440px;
    
}
.content-hiza{
    display: flex;
    justify-content: center;

}
.content{
    padding-top:10px;
}
.content h2{
    font-size: 12px;
    padding-bottom: 30px;
    padding-top:20px;
    color:#910603
}

